.sidenav---sidenav---_2tBP {
  background: #f5f7f8 !important;
  border: none !important;
  color: white !important;
  width: 0% !important;
  position: fixed !important;
  height: 91% !important;
}
body {
  background: #f5f7f8;
}

.toast {
  width: 100% !important;
  max-width: none !important;
}
.modal-dialog {
  max-width: 1390px !important;
  top: -24px !important;
}
.economic {
  font-family: "Modern Twenty CG";
}

.form-control {
  box-shadow: rgb(191 195 207) 3px 3px 6px inset,
    rgb(255 255 255) -3px -3px 6px inset;
  background: #e2e8f0;
  border-radius: 7px;
}
.date {
  width: 96%;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root.Mui-error
  .MuiOutlinedInput-notchedOutline {
  box-shadow: rgb(191 195 207) 3px 3px 6px inset,
    rgb(255 255 255) -3px -3px 6px inset !important;
  border-radius: 7px !important;
  border-color: #bebebe !important;
  background-color: transparent !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root.Mui-error {
  color: #6f6f6f !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root.Mui-error {
  color: #6f6f6f !important;
}
.rdrDefinedRangesWrapper {
  display: none;
}

.daterange {
  box-shadow: rgb(191 195 207) 3px 3px 6px inset,
    rgb(255 255 255) -3px -3px 6px inset;
  background: #e9e9e9;
  border-radius: 7px;
  color: rgb(73, 73, 73);
  font-weight: 600;
}

.daterange:focus {
  box-shadow: rgb(191 195 207) 3px 3px 6px inset,
    rgb(255 255 255) -3px -3px 6px inset;
  background: #e9e9e9;
  border-radius: 7px;
}
.MuiFormControl-root {
  width: 100% !important;
  max-width: none !important;
  /* box-shadow: rgb(191 195 207) 3px 3px 6px inset, rgb(255 255 255) -3px -3px 6px inset; */
  background: #ffffff;
  border-radius: 5px;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: 2px solid transparent !important;
  border-radius: 20px !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 7.5px 14px !important;
}
.css-1kty9di-MuiFormLabel-root-MuiInputLabel-root {
  display: none !important;
}
.design {
  box-shadow: rgb(176, 180, 190) 3px 3px 6px inset,
    rgb(255 255 255) -3px -3px 6px inset;
  background: #e9e9e9;
  border-radius: 7px;
  color: rgb(51, 51, 51);
}
.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL {
  position: fixed !important;
  min-width: 227px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.css-1mzb4wz-MuiModal-root-MuiDialog-root {
  width: 990px;
}
.engines {
  box-shadow: 3px 3px 6px hsl(225, 14%, 78%), -3px -3px 6px #fff !important;
  border: 2px solid #f2f2f2;
}

.up {
  background: #f5f7f8 !important;
  /* box-shadow: 3px 3px 6px hsl(225, 14%, 78%), -3px -3px 6px #fff !important; */
  border: none !important;
}
.ups {
  background-image: linear-gradient(to left, #ea836414, #f15b2f47) !important;
}
.upss {
  background: #f5f7f8 !important;
}

.upss:hover {
  background-image: linear-gradient(to left, #ea836414, #f15b2f47) !important;
}
.down {
  background: white !important;
  /* box-shadow: inset 3px 3px 6px #bfc3cf,inset -3px -3px 6px #fff !important; */
}
.btn-shivam {
  background: transparent
    linear-gradient(276deg, rgba(255, 81, 0, 0.898), #e13535) 0 0 no-repeat
    padding-box !important;
  color: white !important;
  /* box-shadow: 3px 3px 3px #cecece,-3px -3px 3px #fff !important;    */
  border-radius: 30px !important;
}
.btn-shiv {
  background: linear-gradient(to bottom right, #f3f3f3, #fff) !important;
  color: rgba(7, 30, 84, 0.3) !important;
  box-shadow: 3px 3px 3px #cecece, -3px -3px 3px #fff !important;
  border-radius: 30px !important;
}
.foot {
  background: transparent
    linear-gradient(276deg, rgba(255, 81, 0, 0.898), #e13535) 0 0 no-repeat
    padding-box !important;
  color: white !important;
  /* box-shadow: 3px 3px 3px #cecece,-3px -3px 3px #fff !important; */
}

.footer {
  background: transparent linear-gradient(276deg, rgba(0, 0, 0, 0.9), #5f5f5f) 0
    0 no-repeat padding-box !important;
}

.amount {
  background: transparent
    linear-gradient(276deg, rgba(255, 81, 0, 0.898), #e13535) 0 0 no-repeat
    padding-box !important;
  color: white !important;
}
.sidenav---navtext---1AE_f {
  width: 100% !important;

  border: none !important;

  border-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  color: #2e2e2e !important;
  font-weight: 700 !important;
  font-size: 15px !important;
  margin-top: 16px !important;
}
/* .sidenav---navtext---1AE_f:hover{
    color: white !important;
} */

.sidenav---icon-bar---u1f02 {
  background-color: black !important;
}
.navigate:hover {
  background: transparent
    linear-gradient(276deg, rgba(255, 81, 0, 0.898), #e13535) 0 0 no-repeat
    padding-box !important;
  color: white !important;
}
.navigates:hover {
  background: transparent
    linear-gradient(276deg, rgba(255, 81, 0, 0.898), #e13535) 0 0 no-repeat
    padding-box !important;
  color: white !important;
  box-shadow: none !important;
}
.sidenav---sidenav-navitem---uwIJ-::after {
  background: transparent
    linear-gradient(276deg, rgba(13, 53, 148, 0.898039), #35d3e1) 0 0 no-repeat
    padding-box !important;
  color: white !important;
}

.sidenav---sidenav-nav---3tvij
  sidenav---
  > .sidenav---sidenav-navitem---uwIJ-
  > .sidenav---highlighted---oUx9u
  > .sidenav---navitem---9uL5T::after {
  background: red !important;
}
.text-sh {
  font-size: 10px !important;
  font-weight: 600;
}
.line {
}
.carousel .carousel-control-prev-icon {
  background-image: none !important;
}
.carousel .carousel-control-next-icon {
  background-image: none !important;
}
.right {
  right: 40% !important;
}
.left {
  right: 20% !important;
  text-align: right !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding-top: 10px !important;
  font-weight: 800 !important;
  color: #000000 !important;
  font-size: 14px !important;
  padding-left: 30px !important;
  border: 2px white solid !important;
  box-shadow: 0px 0px 6px #d9d9d9 !important;
}
.MuiOutlinedInput-input ::placeholder {
  color: #000000 !important;
}

.inputbox {
  background: transparent
    linear-gradient(276deg, rgba(0, 76, 255, 0.898), #0b73eb) 0 0 no-repeat
    padding-box !important;
}
.toop {
  background: transparent
    linear-gradient(276deg, rgba(255, 145, 2, 0.986), #e13535) 0 0 no-repeat
    padding-box !important;
}

.sidenav---sidenav-toggle---1KRjR {
  position: absolute !important;
  top: 50px !important;
  left: 430px !important;
}

.date::placeholder {
  color: black !important;
}
.sidenavd:hover {
  background: transparent
    linear-gradient(276deg, rgba(255, 145, 2, 0.986), #e13535) 0 0 no-repeat;
  color: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.offcanvas-start {
  width: 250px !important;
}
.offcanvas-backdrop.show {
  opacity: 0 !important;
}
.dataResult {
  max-width: 100%;
  max-height: 400px;
  overflow-y: scroll;
}

.dataItem {
  color: black;
}
.dataItem:hover {
  background: rgb(233, 233, 233);
  color: rgb(0, 0, 0);
}

#selecteds:hover {
  border: none !important;
}

.city:focus {
  outline: 2px solid rgb(255, 255, 255);
}

.img {
  filter: invert(1) !important;
}
.responsive {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.inset-Shadow {
  /* For providing border to the element */
  border: 1px solid;
  /* For Padding */
  padding: 10px;
  /* Defining box-shadow property inset */
  box-shadow: 5px 10px green inset;
}

.collapse.show {
  visibility: visible;
}
